﻿@using AutoLotDAL_Core.Models
@model IEnumerable<Inventory>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Make)</th>
            <th>@Html.DisplayNameFor(m => m.Color)</th>
            <th>@Html.DisplayNameFor(m => m.PetName)</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model.ToList())
        {
        <tr>
            <td>@Html.DisplayFor(m => item.Make)</td>
            <td>@Html.DisplayFor(m => item.Color)</td>
            <td>@Html.DisplayFor(m => item.PetName)</td>
            <td>
                <a asp-controller="Inventory" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-controller="Inventory" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-controller="Inventory" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>